.show{
    background-color: #818ca7;
    padding: 20px;
    display: grid;
    }


.conteinerTips {
    background-color: #cc8f80;
    overflow: hidden;
    border-radius: 20px;
    z-index: 5;
    position:relative;
    text-align: center;
    color: #c5e3b9;
    font-size: 45px;
    }

.imagenTip {
   background-color: white;
}

.texto{
    font-style:inherit;
    font-size: 40px;
    text-align: left;
    }


